[Unit]
Description=Tesla Wall Charger Manager
After=syslog.target network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/app/TWCManager
ExecStartPre=/usr/bin/python3 setup.py install
Restart=always
StartLimitInterval=60s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
